MINOTE_RUNTIME_ROOT=E:\Code\TEMScript\Minote-skill\script
MINOTE_CHROME_EXE=C:\Program Files\Google\Chrome\Application\chrome.exe
MINOTE_CHROMEDRIVER_EXE=E:\Code\TEMScript\Minote-skill\script\bin\chromedriver.exe
MINOTE_CHROME_USER_DATA_DIR=E:\Code\TEMScript\Minote-skill\script\chrome_profile
MINOTE_TARGET_URL=https://i.mi.com/note/#/
MINOTE_REMOTE_DEBUGGING_PORT=9222
